body {
    display: flex;
    justify-content: center;
    background-image: url(https://source.unsplash.com/1600x900/?landscape);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container {

    max-width: 58em;

}

.current-info {
    display: flex;
    justify-content: space-evenly;
    background-color: #000000d2;
    border-radius: 20px;
    padding: 2em;

}

div#weather-forecast {
    display: flex;
    justify-content: space-around;
    background-color: #000000d2;
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
}

.weather-forecast-item {

    margin: 10px;
}

div#current-temp {
    display: flex;
}

div#current-weather-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#current-temp {
    display: flex;
    align-items: center;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img.w-icon1 {
    height: 150px;
}